.banner {
  margin-top: 112px;
  position: relative;

  &_img {
    width: 100%;
  }
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.85);
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 2rem;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .banner__title {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 769px) {
  .banner {
    margin-top: 54px;
  }
}

.bottom-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}
.button-pagination {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  margin: 0 8px;
  padding: 2px 8px;
  border-radius: 4px;
  &:hover {
    background-color: black;
    color: white;
  }
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.pagination-number {
  margin: 0 8px;
  border: 1px solid black;
  padding: 2px 8px;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 4px;
  &:hover {
    background-color: black;
    color: white;
  }
}

.pagination-number.active {
  background-color: black;
  color: white;
}

.Body {
  margin-top: 16px;
  background-color: white;
  width: 100%;
  position: relative;
}
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.body-top {
  margin-top: 12px;
  height: 40px;
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.body-top_form-left,
.body-top_form-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.label-top_right,
.label-top_left {
  width: 20%;
  margin-right: 8px;
  font-size: 1rem;
}

.select-option_right,
.select-option_left {
  width: 50%;
  height: 32px;
  outline: none;
  font-weight: 300;
}

.grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.item-link:hover {
  .item-detail {
    display: block;
  }
}

.body-bottom {
  margin-top: 8px;
}

.ul-item {
  padding: 0 36px;
}
.item {
  cursor: pointer;
  width: 100%;
  position: relative;
  overflow: hidden;
  &-main {
    width: 100%;
    height: 100%;
    position: relative;
    &_div-img {
      width: 100%;
      height: 100%;
    }
    &_img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}

.notification-sale {
  position: absolute;
  width: 44px;
  height: 20px;
  background-color: red;
  top: 68px;
  left: 0;
  border-radius: 0 16% 16% 0;
  margin-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  &_content {
    color: white;
  }
}

.item-detail {
  width: 100%;
  height: 96px;
  background-color: rgba(255, 255, 255, 0.53);
  position: absolute;
  left: 0px;
  bottom: 0;
  display: none;
  -webkit-animation: show-detail 0.5s ease-in-out 0s;
  animation: show-detail 0.5s ease-in-out 0s;

  &_name {
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
  }
  &_price {
    font-size: 18px;
    color: black;
    font-weight: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &-sale {
      margin-right: 18px;
      font-weight: 500;
    }
    &-real_sale {
      font-style: italic;
      -webkit-text-decoration-line: line-through;
      text-decoration-line: line-through;
      font-size: 0.8rem;
    }
    &-real {
      display: inline-block;
      color: black;
      font-size: 18px;
      margin-bottom: 0;
    }
  }
}

.price {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;

  &-sale {
    font-style: italic;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    font-size: 0.8rem;
  }
}
.item-detail_flex {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@-webkit-keyframes show-detail {
  0% {
    bottom: -96px;
    left: 0;
    opacity: 0;
  }
  100% {
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}

@keyframes show-detail {
  0% {
    bottom: -96px;
    left: 0;
    opacity: 0;
  }
  100% {
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .item-detail_name {
    font-size: 1.1rem;
  }
  .item-detail_price {
    font-size: 0.9875rem;
  }
  .item-detail_price-real {
    font-size: 0.9875rem;
  }
  .ul-item {
    padding: 0 16px;
  }
  .item-detail {
    height: 80px;
  }
}

@media screen and (max-width: 992px) {
  .item-detail_name {
    font-size: 0.9rem;
  }
  .item-detail_price {
    font-size: 0.875rem;
  }
  .item-detail_price-real {
    font-size: 0.875rem;
  }
  .ul-item {
    padding: 0 8px;
  }
  .item-detail {
    height: 72px;
  }
}

@media screen and (max-width: 768px) {
  .item-detail {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .body-top_form-left {
    display: none;
  }
}
